@import "Colors";
@import "Global";

.footer {
    background-color: $main;
    min-height: 100px;
    margin-top: 20px;
    z-index: 99;

    
    .footer-container {
        // width: 90%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 100px;
    }

    .footer-text {
        color: white;
        margin: 0;
        font-weight: 500;
        z-index: 2;
    }

    .back-to-top-btn {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: $main;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        // cursor: pointer;
        right: 5%;
        bottom: 5%;
        z-index: 1;
        transition: all 0.4s ease;
        // transform: scale(0%);
        opacity: 0;
        pointer-events: none;

        i {
            color: white;
            margin-top: 15px;
        }
    }

    .back-to-top-btn.active {
        opacity: 100%;
        pointer-events: all;
        cursor: pointer;
        transform: unset;
    }

    .back-to-top-btn:hover {
        background-color: $main-hover;
    }

    @media only screen and (max-width: 1120px) {
        .footer-text {
            font-size: 14px;
        }
    }
    @media only screen and (max-width: 960px) {
        .footer-container {
            justify-content: unset;
            flex-direction: column;
        }
        .footer-text {
            margin-top: 20px;
            text-align: center;
        }
        .footer-padding {
            height: 50px;
        }
    }
}
