@import 'Colors.scss';

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $bg-color;
}

.spacer {
    width: 100%;
    height: 80px;
}

.page-title {
    font-size: 65px;
    color: $main;
    font-weight: 600;
}

.view-width {
    width: 90%;
    max-width: 2000px;
}

.line-height {
    line-height: 60px;
}

.margin-top {
    margin-top: 30px;
}

.color-red {
    color: rgb(253, 80, 80);
}

@media only screen and (max-width: 750px) {
    .view-width {
        width: 92%;
    }
}

@media only screen and (max-width: 720px) {
    .page-title {
        font-size: 40px;
    }

}

@media only screen and (max-width: 440px) {
    .page-title {
        font-size: 35px;
    }
}