@import 'Colors.scss';

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $bg-color;
}

.spacer {
    width: 100%;
    height: 80px;
}

.page-title {
    font-size: 65px;
    color: $main;
    font-weight: 600;
}