@import "Global.scss";
@import 'Colors.scss';

.purchase-page {

    .main-container {
        max-width: 2000px;
        margin: 0 auto;
        padding-top: 70px;
        min-height: 1000px;
    }

    .shop-sub-title {
        color: $main;
        font-size: 20px;
        font-weight: 500;
        // display: flex;
    }

    .row-wrapper {
        // background-color: lightgreen;
        padding-bottom: 15px;
        border-bottom: 2px solid black;
    }
    .row-wrapper-2 {
        // background-color: lightgreen;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 2px solid black;
    }

    .purchase-sub-title {
        color: $main;
        font-weight: 400;
    }

    .purchase-item-name, .purchase-item-price, .purchase-item-quantity {
        margin-bottom: 0;
        margin: 10px 0px;
    }

    .purchase-item-link {
        color: $main;
    }
    .purchase-item-link:hover {
        text-decoration: none;
    }

    .total-price-wrap {
        width: 100%;
        margin-top: 25px;
    }

    .total-price {
        font-size: 28px;
        color: $main;
        font-weight: 500;
    }

    .form-wrap {
        width: 100%;
        display: flex;
    }

    .left-form-wrap, .right-form-wrap {
        width: 50%;
        min-height: 1000px;
    }
    .right-form-wrap {
        // background-color: lightgray;
    }
    .left-form-wrap {
        // background-color: rgb(236, 236, 236);
    }

    .form-title {
        font-size: 20px !important;
        color: $main !important;
        margin-top: 15px;
    }

    .form-multiple {
        margin-bottom: 8.5px;
    }

    .delivery-label {
        width: 100%;
        color: $main;
        display: flex;
    }

    .delivery-right {
        font-size: 18px;
    }
    .delivery-left {
        font-size: 18px;
    }

    .custom-radio {
        margin: 7px 20px 7px 0px;
    }
}