@import "Global.scss";
@import 'Colors.scss';

.products-page {

    .main-container {
        // width: 90%;
        max-width: 2000px;
        margin: 0 auto;
        padding-top: 70px;
        // min-height: 1000px;
        // background-color: lightgray;
    }

    .top-wrapper {
        display: flex;
    }

    .top-left {
        min-height: 50px;
        width: 50%;
        // background-color: lightgreen;
    }
    .top-right {
        min-height: 50px;
        width: 50%;
        // background-color: lightblue;
    }

    .search-container {
        background-color:white;
        height: 60px;
        display: flex;
        border-radius: 70px;
        box-shadow: 0px 10px 10px rgb(223, 223, 223);
        width: 500px;
    }

    #search-form {
        border-radius: 0;
        width: 350px !important;
        border: none;
        // box-shadow: 0px 5px 10px rgb(104, 104, 104);
        margin-left: 0 !important;
    }

    #search-form::placeholder {
        color: $main;
        font-size: 18px;
        font-weight: 500;
    }

    #search-icon {
        font-size: 20px;
        color: $main;
        padding: 0px 10px 0px 30px;
    }

    #reset-filter-btn {
        width: 120px;
        border: none;
        background-color: $main;
        color: white !important;
        font-weight: 500;
        font-size: 12px;
        border-radius: 50px;
        padding: 8px 0px;
        box-shadow: 0px 2px 10px $main-shadow;
        transition: ease-in-out 0.3s;
    }

    #reset-filter-btn:hover {
        box-shadow: unset;
    }

    #reset-filter-btn:active {
        background-color: $main-hover;
        transition: unset;
    }

    .filter-box-wrapper-top, .filter-box-wrapper-bottom {
        display: flex;
        margin-top: 20px;
    }

    .top-left-filter, .bottom-left-filter, .bottom-right-filter {
        width: 50%;
        // background-color: lightgray;
    }

    .top-left-filter-wrapper, .top-right-filter-wrapper, .bottom-left-filter-wrapper, .bottom-right-filter-wrapper {
        // background-color: lightgreen;
        width: 70%;
    }

    .top-right-filter {
        width: 50%;
        // background-color: lightgray;
    }

    .filter-title {
        font-size: 38px;
        color: $main;
        font-weight: 600;
        padding-bottom: 25px;
    }

    .products-container {
        min-height: 400px;
        // background-color: lightgray;
        margin: 0 auto;
        display: flex;
    }

    .products {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // background-color:lightpink;
        width: 100%;
        max-width: 2000px;

        a:hover {
            text-decoration: none;
        }
    }

    .product-card {
        margin: 50px;
        width: 350px;
        height: 400px;
        background-color: $main;
        position: relative;
        box-shadow: 5px -5px 15px rgb(228, 228, 228);
        transition: all ease 0.4s;
    }

    .product-card:hover {
        box-shadow: unset;
    }

    .product-card-thumbnail {
        width: 100%;
        height: 250px;
    }

    .product-card-title {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 20px;
        color: white;
    }

    .product-card-price {
        margin-left: 20px;
        color: white;
        position: absolute;
        bottom: 7px;
        font-size: 35px;
    }

    .product-info-wrap {
        height: 130px;
    }

    #product-1-thumbnail {
        background: url("../img/product-1.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-2-thumbnail {
        background: url("../img/product-2.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-3-thumbnail {
        background: url("../img/product-3.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-4-thumbnail {
        background: url("../img/product-4.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-5-thumbnail {
        background: url("../img/product-5.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-6-thumbnail {
        background: url("../img/product-6.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-7-thumbnail {
        background: url("../img/product-7.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-8-thumbnail {
        background: url("../img/product-8.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-9-thumbnail {
        background: url("../img/product-9.jpg");
        background-size: cover;
        background-position: center;
    }
    #product-10-thumbnail {
        background: url("../img/product-10.jpg");
        background-size: cover;
        background-position: center;
    }



    .custom-control-label {
        font-size: 20px;
        color: $main-50;
        font-weight: 500;
        margin-bottom: 30px;
        margin-right: 30px;
        cursor: pointer;
        transition: all ease 0.2s;
    }

    .custom-control-label::before {
        background-color: $bg-color
    }

    input[type=checkbox]:checked + label {
        color: $main;
        font-weight: 600;  
    }
    input[type=radio]:checked + label {
        color: $main;
        font-weight: 600;  
    }

    input[type=checkbox] {
        display: none;
        
    }
    input[type=radio] {
        display: none;
    }
      
    label {
        position: relative;
    }
      
      label::before {
        content: "";
        background-color: $main !important;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -25px;
        top: 9px;
      
        transform: scale(0) rotateZ(180deg);
        transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
      }
      
      input[type=checkbox]:checked + label::before {
        transform: scale(1) rotateZ(0deg);
      }
      input[type=radio]:checked + label::before {
        transform: scale(1) rotateZ(0deg);
      }
      
      label::after {
        display: none;
      }
}