@import 'Global.scss';
@import 'Colors.scss';

.product-page {

    .main-container {
        max-width: 2000px;
        margin: 0 auto;
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
    }

    .image-slider-wrapper {
        // height: 596px;
        width: 780px;
        // background-color: lightgray;
        overflow: hidden;
        box-shadow: 5px -5px 20px #e0e0e0;
    }

    .product-main-info-wrap {
        margin-left: 30px;
        // background-color: lightgreen;
        max-width: 470px;
    }

    .product-name {
        color: $main;
        font-weight: 600;
        font-size: 40px;
        // width: 350px;
    }

    .product-description {
        width: 350px;
        color: $main;
        font-weight: 500;
    }

    .description-title {
        font-size: 20px;
        margin-top: 50px;
        color: $main;
        font-weight: 600;
    }

    .product-price {
        color: $main;
        font-weight: 500;
        margin-top: 50px;
    }

    .add-cart-btn {
        width: 280px;
        border: none;
        background-color: $main;
        color: white !important;
        font-weight: 500;
        font-size: 22px;
        border-radius: 50px;
        padding: 10px 0px;
        box-shadow: 0px 5px 10px $main-shadow;
        transition: ease-in-out 0.3s;
        margin-top: 10px;
    }

    .add-cart-btn:hover {
        // background-color: $main-50;
        box-shadow: unset;
    }

    .product-overview-wrap {
        width: 100%;
        // background-color: lightgray;
    }

    .overview-title {
        color: $main;
        font-size: 30px;
    }

    .overview-description {
        margin-top: 30px;
        width: 70%;
        color: $main;
        font-weight: 500;
    }

    .product-info-wrap {
        width: 100%;
        // min-height: 500px;
        // background-color: lightgray;
    }

    .product-info-sides {
        display: flex;
    }

    .left-info {
        width: 40%;
        min-height: 100px;
        // background-color:lightgreen;
    }
    .right-info {
        width: 60%;
        min-height: 100px;
        // background-color:lightpink;
    }

    #left-text {
        font-weight: 600;
    }

    .info-description {
        margin-top: 30px;
        color: $main;
        font-weight: 500;
    }

    .box-except {
        width: 100%;
    }

    .info-except {
        font-weight: 500 !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    //   outline: black;
    //   background-size: 100%, 100%;
    //   border-radius: 50%;
    //   border: 1px solid black;
    background-image: none;
    }

    .carousel-control-next-icon:after {
        font-family:monospace;
    content: '>';
    font-size: 55px;
    color: white;
    text-shadow: 0px 0px 20px #000000;
    }

    .carousel-control-prev-icon:after {
        font-family:monospace;
    content: '<';
    font-size: 55px;
    color: white;
    text-shadow: 0px 0px 20px #000000;
    }

    .card {
        background-color: $bg-color;
        border: none;
        margin-top: 20px;
    }
    .card-header {
        border-bottom: 1px solid black;
        background-color: $bg-color;
        padding-left: 0;
    }
    .accordion-title {
        color: $main;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 2px;
    }
    .accordion-link:hover {
        text-decoration: none;
    }
    .card-body {

        padding: 15px 0px;

        .custom-control-label  {
            margin: 20px 30px 0px 0px;
        }
    }
    .accordion-wrapper {
        width: 100%;
        display: none;
    }
    .product-info-subtitle-mobile, .product-info-title-mobile {
        font-size: 16px;
        color: $main;
    }
    .product-info-title-mobile {
        margin-top: 30px;
        font-weight: 600;
    }
    .product-info-subtitle-mobile {
        font-weight: 400;
    }


    @media only screen and (max-width: 1306px) {
        .accordion-wrapper {
            display: unset;
        }
        .product-main-info-wrap {
            display: none;
        }
        .product-overview-wrap {
            display: none;
        }
        .product-info-wrap {
            display: none;
        }
        .overview-description {
            width: 90%;
        }
    }
}